# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Dependency lock files
package-lock.json
yarn.lock